<header class="dto--header" role="banner">
  <section class="page-header">
    <div class="wrapper">
      {% if page.url == "/" %}
      <div class="page-header__logo">
        DTA
      </div>
      {% else %}
      <a href="{{site.baseurl}}/" class="logo">
        <div class="page-header__logo">
          DTA Campaign
        </div>
      </a>
      {% endif %}
      
      <div class="campaignHeader">
        <div class="campaignTitle"><p>Draft campaign</p> 2015–2016</div>
        <div class="campaignDTA">Digital Transformation Agency</div>
      </div>

    </div><!--wrapper-->
  </section>

</header>
